<h1>Hi, <%= session[:user_id] ? User.find(session[:user_id]).shortname : "User"  %></h1>
<h3>Your owned lists:</h3>
<%= render partial:'lists/index', locals:{lists:@owned_lists} %>
<h3>lists shared with you:</h3>
<%= render partial:'lists/index', locals:{lists:@shared_lists} %>