/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";


$body-bg: rgb(31, 31, 31);

.done{
    @extend .btn-outline-success;
}

.done:hover{
    @extend .btn-outline-danger;
    .fa-check{
       @extend .fa-times;
    }
}

.not-done{
    @extend .btn-outline-danger;
}

.not-done:hover{
    @extend .btn-outline-success;
    .fa-times{
        @extend .fa-check;
    }
}

.form-inline{
    height: 100%;
}

 .page{
     width: 90%;
     margin: 1% 5%;
     background-color: rgb(216, 216, 216);
     box-shadow: 10px 10px 5px black;
     padding:2%;
 }

 @import "bootstrap"